NEXT_PUBLIC_APP_URL=https://example.com

# https://github.com/settings/tokens
GITHUB_API_TOKEN=

# https://github.com/grubersjoe/github-contributions-api
GITHUB_CONTRIBUTIONS_API_URL=https://github-contributions-api.jogruber.de

# https://dashboard.openpanel.dev
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=
OPENPANEL_PROJECT_ID=
OPENPANEL_CLIENT_ID=
OPENPANEL_CLIENT_SECRET=

ADS_TXT=
